*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* modal */
.modals {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 10;
  max-width: 80%;
  width: 80%;
  padding: 2em;
  background-color: white;
  transform: 200ms ease-in-out;
}

.modals.active {
  transform: translate(-50%, -50%) scale(1);
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: grey;
  pointer-events: none;
  transition: 200ms ease-in-out;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

.close-btn {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 1em;
  height: 3em;
  font-size: 1em;
}

form textarea {
  resize: none;
  max-width: 100%;
}

form .modal-form-btn {
  padding-top: 1.5em;
}

form .modal-form-btn button {
  padding: 1em 5em;
  margin-right: 2em;
  font-size: 0.8rem;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111111;
  color: white;
  padding: 0.7em;
}

.header h1,
button {
  font-size: 0.9rem;
  color: white;
  background-color: #111111;
}

.header button {
  padding: 1em;
  cursor: pointer;
  border: none;
  outline: none;
}
